
	* 
	{
	font-family:Georgia, 'Times New Roman', Times, serif;    
	}

	body 
            {
            background-color:rgba(5, 97, 236, 0.712);
			}
			
	input
        {
            font-size: 17px;
            width: 160px; 
            height: 14px;
			padding: 5px;
			font-style: oblique;
			background-color: whitesmoke;
			border: 1px solid rgb(134, 133, 133);

		} 
		
	#botaopesquisar
	{
		width: 98px; 
		height: 23px;
		background-color: whitesmoke;
		border: 1px solid rgb(134, 133, 133);
		font-weight:bold;
        
	}	
	
	
	.titulo{
		text-align: center;
		padding-top: 10px;
		width: 100%;
		
	}
	/* Para utilização do mapa do Google Maps
	#mapa{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		height: 700px;
		margin: 5px:
	}*/
	
	#mapid { 
			height: 600px;
			width: 100%;
			}
			
	#box
	{
			padding-bottom: 10px;			
	}
	
	#fotos{
		width: 1260px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right:auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
		img.foto{
		height: 200px;
		width: 400px;
		display: inline; 
		padding: 10px;
		
	}
		
	#rodape{
		width: 100%;
		height: 300px;
		background-color: black;
		color: white;
		text-align: center;				
	}

	.bodysobrecontato
	{
		background-color: white;
	}

	#titulo
	{
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-align: center;
	}

	.nos
	{
		margin-left: 10px;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		
	}

	#tituloconosco
	{
		text-align: center;
	}
	
	 #botaocontato
	{
		

	}

