
	* 
	{
	font-family:Georgia, 'Times New Roman', Times, serif;    
	}

	.bodyall 
    {
        background-color:rgba(224, 224, 224, 0.212);
	}
			
	input
        {

        font-size: 17px;
        width: 300px; 
        height: 14px;
		padding: 5px;
		font-style: oblique;
		background-color: whitesmoke;
		border: 1px solid rgb(134, 133, 133);

		} 
		
	button
	{
		width: 98px; 
		height: 23px;
		background-color: whitesmoke;
		border: 1px solid rgb(134, 133, 133);
		font-weight:bold;
        
	}	
	
	
	.titulo
	{
		text-align: center;
		padding-top: 10px;
		width: 100%;
		
	}
	/* Para utilização do mapa do Google Maps
	#mapa{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		height: 700px;
		margin: 5px:
	}*/
	
	#mapid 
	{ 
		height: 600px;
		width: 100%;
	}
			
	#box
	{
		padding-bottom: 10px;			
	}
	
	#fotos
	{
		width: 1260px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right:auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
		img.foto{
		height: 200px;
		width: 400px;
		display: inline; 
		padding: 10px;
		
	}
		
	#rodape
	{
		width: 100%;
		height: 100px;
		background-color: rgba(121, 121, 121, 0.315);
		color: rgb(7, 7, 7);
		text-align: center;				
	}

	.bodysobrecontato
	{
		background-color: white;
	}

	#titulo
	{
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-align: center;
	}

	.nos
	{
		margin-left: 10px;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		
	}

	#tituloconosco
	{
		text-align: center;
	}
	
	 #botaocontato
	{
		margin: 20px;
		height: 50px;
		width: 500px;
		border: 3px solid rgb(223, 222, 222);
		border-radius: 10px;

	}


	#alinhar 
	{	
		text-align: center;
		background: white;
        width: 50%;
		height: 600px;
        margin: 15px 0px 10px 50px;
        border: 3px solid rgb(223, 222, 222);
        border-radius: 10px;   
		margin: auto; 		
		
	}

	.texto
	{
		display: flex;
  		justify-content: center;
  		align-items: center;
  		width:410px;
  		height:100px;
		margin:auto;
	}

	#contatomotivo
	{
		width: 400px;
		height: 40px;
		font-size: 17px;
	}

	#mensagem
	{
		width: 400px;
		font-size: 17px;
	}